@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');

a {
	--glow-color: rgb(217, 176, 255);
	--glow-spread-color: rgba(191, 123, 255, 0.781);
	--enhanced-glow-color: rgb(231, 206, 255);
	--btn-color: rgb(100, 61, 136);
	border: 0.25em solid var(--glow-color);
	padding: 1em 3em;
	color: var(--glow-color);
	font-size: 15px;
	font-weight: bold;
	background-color: var(--btn-color);
	border-radius: 1em;
	outline: none;
	box-shadow: 0 0 1em 0.25em var(--glow-color), 0 0 4em 1em var(--glow-spread-color),
		inset 0 0 0.75em 0.25em var(--glow-color);
	text-shadow: 0 0 0.5em var(--glow-color);
	position: relative;
	transition: all 0.3s;
	text-decoration: none;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 32px;
}

a::after {
	pointer-events: none;
	content: '';
	position: absolute;
	top: 120%;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--glow-spread-color);
	filter: blur(2em);
	opacity: 0.7;
	transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

a:hover {
	color: var(--btn-color);
	background-color: var(--glow-color);
	box-shadow: 0 0 1em 0.25em var(--glow-color), 0 0 4em 2em var(--glow-spread-color),
		inset 0 0 0.75em 0.25em var(--glow-color);
}

a:active {
	box-shadow: 0 0 0.6em 0.25em var(--glow-color), 0 0 2.5em 2em var(--glow-spread-color),
		inset 0 0 0.5em 0.25em var(--glow-color);
}
body {
	background-color: black;
}

.App {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.head__open {
	position: absolute;
	top: 20%;
	left: 20%;
	transition: left 1s ease-in-out;
	overflow: hidden;
}
.foot__open {
	position: absolute;
	bottom: 20%;
	right: 10%;
	transition: right 1s ease-in-out;
	overflow: hidden;
}
.head__close {
	position: absolute;
	top: 20%;
	left: -100%;
	overflow: hidden;
}
.foot__close {
	position: absolute;
	bottom: 20%;
	right: -100%;
	overflow: hidden;
}
.head__head {
	font-weight: 400;
	font-family: Roboto, sans-serif;
	color: aliceblue;
	font-size: 60px;
	text-shadow: 0 0px 10px rgba(191, 123, 255, 0.781);
}
.foot__head {
	font-weight: 400;
	font-family: Roboto, sans-serif;
	color: aliceblue;
	font-size: 60px;
	text-shadow: 0 0px 10px rgba(191, 123, 255, 0.781);
}
@media (max-width: 768px) {
	.head__head {
		font-weight: 400;
		font-family: Roboto, sans-serif;
		color: aliceblue;
		font-size: 24px;
		text-shadow: 0 0px 10px rgba(191, 123, 255, 0.781);
	}
	.foot__head {
		font-weight: 400;
		font-family: Roboto, sans-serif;
		color: aliceblue;
		font-size: 24px;
		text-shadow: 0 0px 10px rgba(191, 123, 255, 0.781);
	}
	a {
		font-size: 18px;
	}
	.head__open {
		left: 25%;
	}
	.foot__open {
		right: 6%;
	}
}
